@model IEnumerable<OnlineAdmissionSystem.Models.AdmissionTransactionModel>

@{
    Layout = null;
}
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true, canSort: false);
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Markandeya University</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="~/assets/css/SignUpStyles.css" rel="stylesheet" />
    <!-- Styles for table-->
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            .Grid th {
                background-color: #F7F7F7;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                width: 150px;
                border: 1px solid #ccc;
            }

            .Grid, .Grid table td {
                border: 0px solid #ccc;
            }

                .Grid th a, .Grid th a:visited {
                    color: #333;
                }
    </style>
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <h1>Markandeya University</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#services">Approve admission</a></li>
                            @*<li class="scroll-to-section"><a href="#courses">Courses</a></li>
                                <li class="scroll-to-section"><a href="#team">Team</a></li>*@
                            <li class="scroll-to-section"><a href="@Url.Action("SignUp","SignUp")">Registration</a></li>
                            <li class="scroll-to-section"><a href="@Url.Action("SignIn","SignIn")">Sign In</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </div>
    <div style="margin:25px; width:50%;  padding:10px;">
        <h3 style="padding-bottom:20px">Admissions requests</h3>
        @grid.GetHtml(
      htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
      columns: grid.Columns(
               grid.Column(header: "Admission Id", format:
                                                    @<span class="label">@item.Admission_ID</span>, style: "Admission_ID"),
grid.Column(header: "Course Name", format: @<span>
            <span class="label">@item.Course_Name</span>
            <input class="text" type="text" value="@item.Course_Name" style="display:none" />
        </span>, style: "Course_Name"),
grid.Column(header: "Student Name", format: @<span>
                <span class="label">@item.Student_name</span>
                <input class="text" type="text" value="@item.Student_name" style="display:none" />
            </span>, style: "Student_name"),
grid.Column(header: "Father Name", format: @<span>
                    <span class="label">@item.Student_father_name</span>
                    <input class="text" type="text" value="@item.Student_father_name" style="display:none" />
                </span>, style: "Student_father_name"),
grid.Column(header: "Date of birth", format: @<span>
                        <span class="label">@item.Student_dob</span>
                        <input class="text" type="text" value="@item.Student_dob" style="display:none" />
                    </span>, style: "Student_dob"),
grid.Column(header: "Gender", format: @<span>
                            <span class="label">@item.Student_gender</span>
                            <input class="text" type="text" value="@item.Student_gender" style="display:none" />
                        </span>, style: "Student_gender"),
grid.Column(header: "Religion", format: @<span>
                                <span class="label">@item.Student_religion</span>
                                <input class="text" type="text" value="@item.Student_religion" style="display:none" />
                            </span>, style: "Student_religion"),
                   grid.Column(format:@<span class="link">
                                                            <a class="Edit" href="javascript:;">Approve</a>
                                                            <a class="Update" href="javascript:;" style="display:none">Update</a>
                                                            <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                                            <a class="Delete" href="javascript:;">Reject</a>
                                                        </span>)))
        
    </div>


    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2036 Markandeya Univeristy. All rights reserved. &nbsp;&nbsp;&nbsp; </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/counter.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        $(function () {
            var row = $("#WebGrid TBODY tr:eq(0)");
            if ($("#WebGrid TBODY tr").length > 1) {
                row.remove();
            } else {
                row.find(".label").html("");
                row.find(".text").val("");
                row.find(".link").hide();
            }
        });
        function AppendRow(row, departmentName, departmentHead, courseName) {
            //Bind Dept Name.
            $(".Dept_Name", row).find(".label").html(Dept_Name);
            $(".Dept_Name", row).find(".text").val(Dept_Name);

            //Bind Dept Head.
            $(".Dept_Head", row).find(".label").html(Dept_Head);
            $(".Dept_Head", row).find(".text").val(Dept_Head);

            //Bind Course Name.
            $(".Course_Name", row).find(".label").html(Course_Name);
            $(".Course_Name", row).find(".text").val(Course_Name);

            //Bind Course Duration.
            $(".Course_Duration", row).find(".label").html(courseDuration);
            $(".Course_Duration", row).find(".text").val(courseDuration);

            //Bind Course Substream.
            $(".Course_substream", row).find(".label").html(courseSubstream);
            $(".Course_substream", row).find(".text").val(courseSubstream);

            //Bind Course Fees.
            $(".Course_fees", row).find(".label").html(courseFees);
            $(".Course_fees", row).find(".text").val(courseFees);

            row.find(".link").show();
            $("#WebGrid TBODY").append(row);
        };

        //Add event handler.
        $("body").on("click", "#btnAdd", function () {
            var txtDeptName = $("#txtDeptName");
            var txtDeptHead = $("#txtDeptHead");
            var txtCourseName = $("#txtCourseName");
            var txtCourseDuration = $("#txtCourseDuration");
            var txtCourseSubstream = $("#txtCourseSubstream");
            var txtCourseFees = $("#txtCourseFees");
            console.log(txtDeptName.val());
            $.ajax({
                type: "POST",
                url: "/Admin/SaveDepartmentCourse",
                //data: '{name: "' + txtDeptName.val() + '", country: "' + txtDeptHead.val() + '" }',
                data: '{departmentName: "' + txtDeptName.val() +
                    '", departmentHead: "' + txtDeptHead.val() +
                    '", courseName: "' + txtCourseName.val() +
                    '", courseDuration: "' + txtCourseDuration.val() +
                    '", courseSubstream: "' + txtCourseSubstream.val() +
                    '", courseFees: "' + txtCourseFees.val() +'" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var row = $("#WebGrid TBODY tr:last-child").clone();
                    if (row.find(".label").is(":empty")) {
                        $("#WebGrid TBODY tr:last-child").remove();
                    }
                    AppendRow(row, r.Dept_Name, r.Dept_Head, r.Course_Name);
                    console.log("Logdata" + r.Dept_Name.val());

                    txtDepartmentName.val("");
                    txtDepartmentHead.val("");
                }
            });
        });

        //Edit event handler.
        $("body").on("click", "#WebGrid TBODY .Edit", function () {
            var row = $(this).closest("tr");
            var courseId = row.find(".label").html();
            alert(courseId);
            $.ajax({
                type: "POST",
                url: "/ApproveAdmission/Approve",
                data: '{courseId: ' + courseId + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if ($("#WebGrid TBODY tr").length == 1) {
                        row.find(".label").html("");
                        row.find(".text").val("");
                        row.find(".link").hide();
                    } else {
                        row.remove();
                    }
                }
            });
        });

        //Update event handler.
        $("body").on("click", "#WebGrid TBODY .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".label");
                    var input = $(this).find(".text");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var txtDeptID = row.find(".Dept_ID").find(".label").html();
            var txtDeptName = row.find(".Dept_Name").find(".label").html();
            var txtDeptHead = row.find(".Dept_Head").find(".label").html();
            var txtCourseName = row.find(".Course_Name").find(".label").html();
            var txtCourseDuration = row.find(".Course_duration").find(".label").html();
            var txtCourseSubstream = row.find(".Course_Substream").find(".label").html();
            var txtCourseFees = row.find(".Course_fees").find(".label").html();

            alert(txtDeptHead);
            alert(txtCourseName);
            $.ajax({
                type: "POST",
                url: "/Admin/UpdateDepartmentCourse",
                data: '{departmentID:"'+txtDeptID+'", departmentName: "' + txtDeptName + '",departmentHead:"' + txtDeptHead +
                    '", courseName: "' + txtCourseName +
                    '", courseDuration: "' + txtCourseDuration + '", courseSubstream: "' + txtCourseSubstream +
                    '", courseFees: "'+ txtCourseFees +'"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });

        //Cancel event handler.
        $("body").on("click", "#WebGrid TBODY .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".label");
                    var input = $(this).find(".text");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("body").on("click", "#WebGrid TBODY .Delete", function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                var courseId = row.find(".label").html();
                $.ajax({
                    type: "POST",
                    url: "/Admin/DeleteCourse",
                    data: '{courseId: ' + courseId+ '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if ($("#WebGrid TBODY tr").length == 1) {
                            row.find(".label").html("");
                            row.find(".text").val("");
                            row.find(".link").hide();
                        } else {
                            row.remove();
                        }
                    }
                });
            }
        });
    </script>

</body>
</html>
