@model OnlineAdmissionSystem.Models.AdmissionTransactionModel

@{
    ViewBag.Title = "Admission Request";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Markandeya University</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="~/assets/css/SignUpStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ddlDepartments").change(function () {
                var url = "@Url.Content("~/StudentEnq/GetDepartmentByID")";
                $.getJSON(url, { id: $("#ddlDepartments").val() }, function (data) {
                    alert($("ddlDepartments").val());
                })
            });
        });

        $(document).ready(function () {
            $("#ddlCourses").change(function () {
                var selectedCourse = $("#ddlCourses").val();

                if (selectedCourse == "PG") {
                    $("#showDegreeMarks").show();
                }
                else {
                    $("#showDegreeMarks").hide();
                }
            });
        });

        $(document).ready(function () {
            $("#dob_date").datepicker({ dateFormat: 'dd/mm/yy' });
        });

    </script>
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <h1>Markandeya University</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="@Url.Action("Enquiry","StudentEnq")">Enquiry</a></li>
                            <li class="scroll-to-section"><a href="#courses">Admission</a></li>
                            @*<li class="scroll-to-section"><a href="#team">Team</a></li>*@
                            @*<li class="scroll-to-section"><a href="@Url.Action("SignUp","SignUp")">SignUp</a></li>*@
                            <li class="scroll-to-section"><a href="@Url.Action("SignIn","SignIn")">Sign Out</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            @*<div class="row">
                    <div class="col-lg-12">
                        <h3>Student Enquiry form</h3>
                    </div>
                </div>*@
        </div>
    </div>
    <div id="centerTableAllign" class="mb-3">
        <h3 style="padding-bottom:30px">Admission form</h3>
        @using (Html.BeginForm("SaveAdmissionRequest", "AdmissionRequest", FormMethod.Post))
        {
    <table>
        <tr>
            <td>Select course</td>
            <td>
                @Html.DropDownList("Course_ID", (IEnumerable<SelectListItem>)ViewBag.courses, "Select Courses", new { id = "ddlCourses" })

            </td>
        </tr>
        <tr id="showDegreeMarks" class="courseDiv">
            <td>Enter degree marks(%)</td>
            <td>@Html.EditorFor(model => model.Degreee_marks)</td>
        </tr>
        <tr>
            <td>Enter PUC marks(%)</td>
            <td>@Html.EditorFor(model => model.Puc_marks)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(model => model.Puc_marks)
            </td>
        </tr>
        <tr>
            <td>Enter SSLC marks(%)</td>
            <td>@Html.EditorFor(model => model.Sslc_marks)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(model => model.Sslc_marks)
            </td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>@Html.EditorFor(model => model.Student_name)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(model => model.Student_name)
            </td>
        </tr>
        <tr>
            <td>Father name</td>
            <td>@Html.EditorFor(model => model.Student_father_name)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(model => model.Student_father_name)
            </td>
        </tr>
        <tr>
            <td>Date of birth</td>
            <td>@Html.EditorFor(model => model.Student_dob, new { id = "#dob_date" })</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Html.EditorFor(model => model.Student_gender)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(model => model.Student_gender)
            </td>
        </tr>
        <tr>
            <td>address</td>
            <td>@Html.EditorFor(model => model.Student_address)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(model => model.Student_address)
            </td>
        </tr>
        <tr>
            <td>ADHAR number</td>
            <td>@Html.EditorFor(model => model.Adhar_number)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(model => model.Adhar_number)
            </td>
        </tr>
        @*<tr>
            <td>Attach required documents</td>
            <td>@Html.EditorFor(model => model.Document_path)</td>
        </tr>*@
        <tr>
            <td>
                <input type="submit" name="btnAdmission" value="Take Admission!" />
            </td>
            <td>
                <input type="reset" name="btnClear" value="Clear" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(model => model.InforMessage)
            </td>
        </tr>
    </table>
        }
        @*@Html.DropDownList("Dept_ID", (IEnumerable<SelectListItem>)ViewBag.departments, "Select Department", new { id = "ddlDepartments" })*@

    </div>
    <div>
        <div id="centralDiv">
            <table cellpadding="20">
                <tr>
                    <td>Admission status :</td>

                    <td style="background-color:orange">

                        @ViewBag.AdmissionStatus
                    </td>
                    <td>
                        <input type="submit" onclick="location.href='@Url.Action("PaymentWindow","MakePayment")'" name="btnMakePayment" value="Make Payment" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2036 Markandeya Univeristy. All rights reserved. &nbsp;&nbsp;&nbsp; </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/counter.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/Scripts/jquery-1.8.0.min.js"></script>*@

    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

</body>
</html>
